.DS_Store
dist
public
node_modules
**/node_modules/**
**/coverage/**
**/playwright/**
**/playwright-report/**
**/test-results/**
coverage
pnpm-debug.log
**/auto-imports.d.ts
.eslintrc-auto-import.json
