@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: theme('fontFamily.sans');
    font-size: theme('fontSize.body');
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
  }

  input[type='checkbox'] {
    accent-color: theme('colors.primary.dark');
  }
}
